<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBF9ALO9jf1TGsoXxsdKB6HB6yEEnUCDJA</string>
	<key>GCM_SENDER_ID</key>
	<string>308105564646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travel2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>travel2-24f09</string>
	<key>STORAGE_BUCKET</key>
	<string>travel2-24f09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308105564646:ios:6f6866a3249cf248d58627</string>
</dict>
</plist>